.menu {
    background: #404040;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu__item {
    color: #cacaca;
    text-decoration: none;
    padding: 16px;
    transition: color .2s;
}

.menu__item:hover {
    color: #fff;
}   